body {
    background-color: black;
  }

a:link {
    color:white;
}

a:visited {
    color: white;
  }

a:hover {
    color: gray;
  }

p {
    font-family: Arial, Helvetica, sans-serif;
  }

 a:link { text-decoration: none;
  }

 a:visited {
  text-decoration: none;
  }

  ul {
    display:block;
    width: 20%;
    }

h1 {
    color: white;
    }

p {
    color: white;
}

div {
    display: block;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(21, 253, 245);
    width: 80%;
    height: 25%;
  }